<div id="copyright">
  Copyright © 2011-2014 Xebia
  <a rel="author" href="http://www.xebia.com" type="text/html">
    <img alt="Xebia" height="20" width="60" src="{{site.img}}/logo_xebia-120x40.jpg" align="right">
  </a>
</div>
